body {
    font-family: 'Open Sans', sans-serif;
}

.web-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    align-items:center ;
    justify-content: space-between;
    margin: 0 200px;
    
}

.primary {
    color: #FD6E0A;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 30px;
}


nav>ul {
    display: flex;
    align-items: center;

}

nav>ul li a {
    text-decoration: none;
    color: #474747;

}

nav>ul>li {
    list-style: none;
    margin-right: 50px;
}
/* header realted style */
.head{
    background-color:#FFF8F3;;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile{
    width: 500px;
}